.block-feedback {
  height:auto;
  width:auto;
  position:fixed;
  top:50%;
  right:0;
  margin:0;
  padding:0;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  vertical-align:baseline;
}

.block-feedback a {
  display:block;
  background:#000;
  height:auto;
  width:auto;
  position:relative;
  bottom:-22px;
  padding:5px;
  color:#fff;
  font-family: helvetica, san-serif;
  text-decoration:none;
  font-size:14px;
  border:none;
}
